@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
    background: hsl(0, 0%, 95%);
    height: 100%;
}

main {
    max-width: 400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 50px 0; 
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.card > .sed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    background: hsl(31, 77%, 52%);
    border-radius: 7px 7px 0 0;
}

.card > .suv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    background: hsl(184, 100%, 22%);
}

.card > .lux {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 7px 7px;
}

img, h1, p, button {
    margin: 5px;

}

img {
    height: auto;
    width: 20%;
    margin: 40px 0 20px 40px;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 10px 0 20px 40px;
    color:  hsl(0, 0%, 95%);
    width: 80%;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    line-height: 1.8;
    margin: 0 0 20px 40px;
    color: hsla(0, 0%, 100%, 0.75);
    width: 70%;
}

button {
    background-color: hsl(0, 0%, 95%);
    display: block;
    margin: 0 0 40px 40px;
    padding: 12px 0;
    cursor: pointer;
    width: 45%;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.sed > button {
    color:hsl(31, 77%, 52%);
}

.suv > button {
    color:hsl(184, 100%, 22%);
}

.suv > button {
    color:hsl(179, 100%, 13%);
}

@media screen and (min-width: 500px) {
    main {
        max-width: 1110px;
        max-height: 446px;
    }

    .card {
        flex-direction: row;
    }
}



